#Title{
    font-family:Arial, Helvetica, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #18453B; /* green */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
    margin: 10px;

}

button:hover {
    background-color: #0e2923; /* Darker red on hover */
}

