#Title{
    font-family:'Times New Roman', Times, serif;
}

button {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: rgb(255, 0, 0);
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}
